<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ppkj.mindrays"
    android:versionCode="100"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- waps -->
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- waps end -->
    <!-- 单元测试 -->
    <!-- <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" /> -->


    <!-- <instrumentation -->
    <!-- android:name="android.test.InstrumentationTestRunner" -->
    <!-- android:label="Test for my app" -->
    <!-- android:targetPackage="com.ppkj.mindrays" /> -->


    <!-- 单元测试 -->
    <application
        android:name="com.ppkj.mindrays.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 单元测试 -->
        <!-- <uses-library android:name="android.test.runner" /> -->
        <!-- 单元测试 -->
        <activity
            android:name="com.ppkj.mindrays.activity.MindTracker"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.AgreeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.FileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.CompleteAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.RegActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.RePwdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.InfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.SuggestAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.ImageGridActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.ViewPagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.CloudActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.VideoPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.LocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.CloudFtpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.QQShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.QZoneShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.artifex.mupdf.MuPDFActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.ms-xpsdocument" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-cbz" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.xps" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.artifex.mupdf.OutlineActivity"
            android:label="@string/outline_title" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.wordandexcel.ViewFile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.activity.PPTActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.wordandexcel.ExcelRead"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.ppkj.mindrays.txt.MyReadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <!--  -->
        <activity android:name="com.tencent.connect.avatar.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" /> <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.ppkj.mindrays.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <receiver android:name="com.ppkj.mindrays.receiver.MediaScannerReceiver" >

            <!-- 重启 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
            <!-- 文件更改 -->
            <intent-filter>
                <action android:name="com.ppkj.mindrays.action.MEDIA_SCANNER_SCAN_FILE" />
                <action android:name="com.ppkj.mindrays.action.MEDIA_SCANNER_SCAN_DIRECTORY" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MediaScannerService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YTuoQYv1101vsPECUsTPCHeT" />
    </application>

</manifest>